.EmailList{
    flex:1;
    overflow:scroll;
}

.EmailList-setting{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid whitesmoke;
    background-color: white;
    z-index:999;
    padding-right:10px;
}
.EmailList-section{
    position:sticky;
    top:0;
    display:flex;
    border-bottom:1px solid whitesmoke;
    background-color: white;
    z-index:999;
   
}
.EmailList-list{
    padding-bottom:20%;
}
.EmailList::-webkit-scrollbar{
    display:none;
}
.EmailList{
    -ms-overflow-style:none;
    scrollbar-width:none;
}