.SendMail{
    position:absolute;
    bottom:0px;
    right:50px;
    background-color: #404040;
    height:60%;
    width:35%;
    max-width: 500px;
    box-shadow:0px 5px 7px 0px rgba(0,0,0,0.24);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display:flex;
    flex-direction:column;
    border:1px solid whitesmoke;
    }

    .SendMail-header{
        display:flex;
        align-items:center;
        color:grey;
        padding:13px;
        justify-content: space-between;
    }
    .SendMail-header > h3 {
        color:grey;
        font-size:13px;
    }
    .SendMail-send {
        background-color: #404040;
        text-transform: capitalize !important;
        margin:15px !important;
    }
    .SendMail-close{
        cursor:pointer;
    }
    .SendMail > form {
        display:flex;
        flex:1;
        flex-direction:column;
    }
    .SendMail > form > input {
        padding:10px;
        height:30px;
        border:none;
        outline:none;
        border-bottom:1px solid whitesmoke;
    }
    .SendMsg{
        flex:1;
            }
    .SendMail-error{
        color: red;
        background-color: white;
        text-align:right;
        padding:2px;
    }